@keyframes blink-effect-for-next-execute-position {
  50% {
    border-color: yellow;
  }
}

.next-execute-position {
  z-index: 20;
  width: 30px;
  height: 30px;
  border-color: #c3ca70;
  border-width: 2px;
  border-style: solid;
  transition-duration: 0.3s;
  animation-name: blink-effect-for-next-execute-position;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
